.AsideMenu {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px);
    border: 3px solid #e0f1ff;
    padding: 5px;
    background: #e0f1ff;
}

.Divider {
    margin: 12px 0;
}
