.ScenariosAsideMenu {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px);
    background: #e0f1ff;
    overflow: auto;
    overflow-x:hidden;
    padding: 6px
}

.Input {
    margin-bottom: 4px;
}

.ScenarioButton {
    margin-bottom: 4px;
    height: auto;
    white-space: normal;
}
.ScenarioButton:nth-last-of-type(1) {
    margin-bottom: 0;
}

.Divider {
    margin: 6px 0;
}
